

.logo-ruleta{
   height: 150px;
 }

.img-participantes{
  height:30px;
}

.user-img{
  height:20px;
    margin-left: 15px;
}

.map-sidebar-section-item {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    flex: none;
    height: 45px !important;
    align-items: center;
    position: relative;
    margin-left: 10px !important;
}

.map-sidebar-section-item:before {
  
    font-size: 40px !important;
    color: red;
 
}
.map-sidebar-section-item-details {
    width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    flex: none;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 25px;
}

.margin-left{
    margin-left: 250px;
    
}

.section-highlights-box {
   
    width: 100% !important;
  
}

.btnruleta{
    cursor: pointer;
}

.img-felicitacione{
    height: 120px;
}

.ganador{
    font-size: 50px !important;
}

.ruleta-container{
    width:800px;
    height:450px;
    background: url("/bgruleta.png");
    
}